:host {
  display: block;
  height: 100%;
  width: 100%;
  font-family: var(--ig-font-family);
}

.profitCondition {
  color: var(--ig-success-500);
}

.lossCondition {
  color: var(--ig-error-500);
}

.assets-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  & igc-avatar {
    --size: 24px;
  }
}

.grid-sizing {
  --ig-size: var(--ig-size-small);
  min-width: 1100px;
}

.progress-container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  width: 100%;
  gap: 0.5rem;
}
