.driver-avatar {
    --size: 22px
}

.status-value {
    padding-left: 8px;
    color: var(--primary-text-color);
}

.driver-badge {
    margin-left: 10px;
}

.current-badge-text {
    margin: 0 8px;
}